@import "tailwindcss";

@plugin "tailwindcss-react-aria-components";
@plugin "tailwindcss-motion";

@layer base {
  * {
    border-color: var(--color-gray-200);
  }

  html {
    scroll-behavior: smooth;

    scrollbar-color: var(--color-gray-200) transparent;
    scrollbar-width: thin;
  }

  body {
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;

    @apply bg-[#252524] text-white antialiased font-sans;
  }
}
